.friends {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 10px;
}

.friends div {
  width:50%;
  border: 1px solid black;
  box-sizing: border-box; 
  padding: 10px
}

.friends .formContainer {
  width: 100%;
  
}
.App .formContainer .form{
  width: 100%;
 
}

.friends-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.friends-link {
  color: #61dafb;
}

